body { 
  font-family: 'Open Sans',Arial ,Helvetica, Verdana, sans-serif !important; 
}


.nav-tabs-custom>.nav-tabs>li.active:hover>a, .nav-tabs-custom>.nav-tabs>li.active>a{
    background-color: #7f9ca0;
    color: #ffffff;
}
.nav-tabs-custom>.nav-tabs>li>a{
    background-color: #ccd7d9 ;
    color: #003b43;
}

.nav-tabs-custom>.nav-tabs>li:hover>a{
    background-color: #7f9ca0;
    color: #ffffff;
}

.info-box-text, .progress-description{
  font-size: 12px;
}

.info-box-number{
  font-size: 12px;
}

.info-box-content{
  margin-left:45px;
}

.info-box{
  min-height: 44px;
}

.info-box-icon{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 44px;
    width: 45px;
    text-align: center;
    font-size: 25px;
    line-height: 44px;
}